{% extends 'base.html.twig' %}

{% block title %}Error 403{% endblock %}

{% block monTitre %}
    Erreur 403 - Accès refusé
{% endblock %}
{% block body %}
    <p class="border border-dark rounded p-2 m-2 text-white bg-danger text-center m-3">
        Vous n'avez pas l'autorisation de visiter cette page.
    </p>
    <a class="btn btn-primary m-1" href="{{ path('aliments') }}">retourner à la page d'accueil</a>
{% endblock %}
