{% extends 'base.html.twig' %}

{% block title %}Error 500{% endblock %}

{% block monTitre %}
    Erreur 500 - Erreur de serveur interne !
{% endblock %}

{% block body %}
    <a class="btn btn-primary m-1" href="{{ path('aliments') }}">retourner à la page d'accueil</a>
{% endblock %}
